.App {
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

.App.light {
  background-color: #f1f1f1;
}

.App.dark {
  background-color: #383838;
}

.App-header {
  background-color: #dddddd;
  height: 10vh;
  padding: 10px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  width: 100%;
  padding: 30px 70px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.display {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

button {
  height: 67px;
  padding: 20px;
  min-width: 150px;

  font-size: inherit;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 10px;
}

button.light {
  background-color: #f4f4f4;
}

button.dark {
  background-color: rgb(29, 29, 29);
  color: white;
  font-weight: bold;
}

button:disabled {
  background-color: transparent;
  border: 1px solid rgba(206, 206, 206, 0.514);
}